.bundle
# Ignore any accidental remnants from gh-pages branch
_site
_posts
assets/styles
lib/labels/labels.yaml
lib/labels/labels-malformed.yaml
graph.dot
nbproject
*.rc
Gemfile.lock
backlogs.dev
.ruby-version
redmine_backlogs
*~
