<html><head>
  <title><%= h @sprint.name %></title>
  <%= call_hook :view_layouts_base_html_head %>
</head><body>
<% if @sprint.has_burndown? %>
  <%= render :partial => 'burndown', :locals => {:sprint => @sprint, :mode => :full, :style => "width: #{@width}px; height: #{@height}px" } %>
<% else %>
  No burndown data available -- are the sprint start- and end dates set?
<% end %>
</body>
