<div class="backlog">
  <div class="header">
    <div class="menu">
      <div class="icon ui-icon ui-icon-carat-1-s"></div>
      <ul class="items">
      </ul>
    </div>
    <%- if backlog[:sprint] %>
      <%= render :partial => "rb_sprints/sprint", :object => backlog[:sprint] %>
      <div class="velocity"> </div>
    <%- else %>
      <div class="label"><%=l(:label_product_backlog).titleize %></div>
      <%= link_to "Close completed Sprints", close_completed_project_versions_path(@project), :class => "close_sprint", :method => :put, :target => "_blank" %>
    <%- end %>
  </div>
  <ul class="stories">
    <%= render :partial => "rb_stories/story", :collection => backlog[:stories] %>
  </ul>
</div>
