<div class="backlog">
  <div class="header">
    <%= render :partial => "menu", :locals => {:backlog => product_backlog} %>
      <div class="label"><%=l(:label_product_backlog).titleize %></div>
      <a class="add_new_story" href="#">New Story</a>
      <a class="add_new_sprint" href="#">New Sprint</a>
      <%= link_to l(:label_close_completed_sprints), close_completed_project_versions_path(@project), :class => "close_sprint", :method => :put, :target => "_blank" %>
  </div>
  <ul class="stories">
    <%= render :partial => "rb_stories/story", :collection => product_backlog[:stories] %>
  </ul>
</div>
