<h2><%=l(:label_release)%></h2>

<% rb_labelled_form_for :release, @release,
     :url => {:controller => 'rb_releases', :action => 'edit', :release_id => @release},
     :html => { :method => :post } do |f| %>
  <%= error_messages_for 'release' %>
  <%= render :partial => 'rb_releases/form', :locals => { :f => f } %>
  <%= submit_tag l(:button_save) %>
<% end %>


