<div class="contextual">

<h2><%= @release.name %></h2>

<p><b>Start date:</b> <%= @release.release_start_date || "no start date set" %></p>
<p><b>End date:</b> <%= @release.release_end_date || "no end date set" %></p>

<% content_for :sidebar do %>
    <h3><%= l(:label_release) %> Sidebar</h3>
    just<br />
    a<br />
    single<br />
    release<br />
<% end %>

<% html_title(l(:label_release_plural)) -%>
