<div id="not_configured">
    <%= l(:rb_label_backlogs_unconfigured, {
                :administration => l(:rb_label_administration),
                :plugins => l(:rb_label_plugins),
                :configure => l(:rb_button_configure)
            })
    %>
</div>
