/* GLOBAL */
body{
  background-color:#FFFFFF;
  font-family:Verdana, Arial, sans-serif;
  font-size:12px;
  height:100%;
  margin:0;
  width:100%;
}
a{
  color:#CC0000;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
/* TOOLBAR */
#toolbar{
  background-color:#CCCCCC;
  display:block;
  height:30px;
  overflow:hidden;
  position:relative;
  width:100%;
  box-shadow: 0 3px 4px #A0A0A0;
  z-index:1000;
}
#toolbar .breadcrumbs{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#toolbar .breadcrumbs .home{
  font-size:1.2em;
}
#toolbar .breadcrumbs .separator{
  color: #999999;
  font-size:0.9em;
  font-weight:bold;
  padding: 0 .2em;
}
#toolbar .userselect{
  float: left;
  position:relative;
}
#toolbar .links{
  bottom:5px;
  display:block;
  right:10px;
  position:absolute;
}
#toolbar .links a{
  cursor:pointer;
  padding-left:5px;
}
body.loading #refresh{
  background-image:url('images/bouncer.gif');
  background-repeat:no-repeat;
  background-position:-6px 1px;
  padding-top:5px;
}
/* MAIN */
#main{
  display:block;
  height:100%;
  width:100%;
}
.meta{
  display:none;
}
#helpers{
  display:none;
}
/* 
  .editor is the classname for field editors of sprint,
  story, task, impediment. These field editors get created
  at runtime whenever any of the above models are edited.
*/
.editors{
  display:none;
}
.ui-dialog .editor{
  display:block;
}

ul.ui-sortable {
    min-height: 20px!important;
}
.tooltip_text{
  display:none;
}
