#backlogs_container{
  display:block;
  margin:10px auto;
  position:relative;
  width:1190px;
}
#dummy_backlog_container{
  height:150px;
  width:590px;
}
#top_sprint_backlogs_container{
  left:0;
  position:absolute;
  top:0;
  width:590px;
}
#product_backlog_container{
  position:absolute;
  right:0;
  top:0;
  width:590px;
}
#sprint_backlogs_container{
  width:590px;
}
#product_backlog_container .closedbacklog .header > .add_new_story,
#product_backlog_container .backlog .header > .add_new_story {
  font-size:11px;
  height:28px;
  line-height:31px;
  padding:0;
  position:absolute;
  right:10px;
  text-align:right;
  top:1px;
  width:100px;
}
#product_backlog_container .closedbacklog .header > .add_new_sprint, 
#product_backlog_container .backlog .header > .add_new_sprint {
  font-size:11px;
  height:28px;
  line-height:31px;
  padding:0;
  position:absolute;
  right:90px;
  text-align:right;
  top:1px;
  width:100px;
}
#product_backlog_container .closedbacklog .header > .close_sprint,
#product_backlog_container .backlog .header > .close_sprint {
  font-size:11px;
  height:28px;
  line-height:31px;
  padding:0;
  position:absolute;
  right:170px;
  text-align:right;
  top:1px;
  width:150px;
}

#backlogs_container .closedbacklog,
#backlogs_container .backlog{
  -moz-box-shadow: 3px 3px 4px #A0A0A0;
  -webkit-box-shadow: 3px 3px 4px #A0A0A0;
  box-shadow: 3px 3px 4px #A0A0A0;
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
  display:block;
  margin:0 0 10px 0;
  position:relative;
  width:100%;
  /* IE only*/
  border: 1px solid #CCCCCC;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top, #EEE, #CCC);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#CCCCCC);
}

#product_backlog_container .closedbacklog,
#product_backlog_container .backlog{ /* Overrides style above */
  position:absolute;
  top:0;
}

#backlogs_container .closedbacklog .header{
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
  background-color: #CCCCCC;
  height:30px;
  position:relative;
  width:100%;
  border-bottom: 1px solid #AAAAAA
}


#backlogs_container .backlog .header{
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
  background-color:#CCCCCC;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top, #EEE, #CCC);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#CCCCCC);
  height:30px;
  position:relative;
  width:100%;
  border-bottom: 1px solid #AAAAAA
}
.closedbacklog .header .menu,
.backlog .header .menu{
  -moz-box-shadow: 1px 0px 0px #DEDEDE;
  -webkit-box-shadow: 1px 0px 0px #DEDEDE;
  box-shadow: 1px 0px 0px #DEDEDE;
  -moz-border-radius:5px 0px 0px 0px;
  -webkit-border-radius:5px 0px 0px 0px;
  border-radius:5px 0px 0px 0px;
  border-right:1px solid #999999;
  cursor:pointer;
  height:30px;
  left:0;
  overflow:visible;
  position:absolute;
  top:0;
  width:29px;
}

.closedbacklog .header .menu:hover,
.backlog .header .menu:hover {
  -moz-box-shadow: 2px 2px 3px #999999;
  -webkit-box-shadow: 2px 2px 3px #999999;
  box-shadow: 2px 2px 3px #999999;
  background-color:#EFEFEF;
  border-right:none;
  width:30px;
  z-index:1000;
}

.closedbacklog .header .menu .icon,
.backlog .header .menu .icon{
  left:7px;
  position:absolute;
  top:7px;
}

.closedbacklog .header .menu .items,
.backlog .header .menu .items{
  display:none;
}

.backlog .header .menu:hover .items{
  -moz-box-shadow: 2px 2px 3px #999999;
  -webkit-box-shadow: 2px 2px 3px #999999;
  box-shadow: 2px 2px 3px #999999;
  background-color:#EFEFEF;
  display:block;
  left:0;
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
  top:30px;
}
.backlog .header .menu .item{
  display: block;
  height:24px;
  overflow:hidden;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width:160px;
}
.backlog .header .menu .item:hover{
  background-color:#DDDDDD;
}
.backlog .header .menu .item a{
  color:#000000;
  display:block;
  font-size:12px;
  height:100%;
  padding:6px;
  width:100%;
}
.backlog .header .menu .item:hover a{
  text-decoration:none;
  font-weight:bold;
}
.backlog .header .menu .item ul{
  -moz-box-shadow: 2px 2px 3px #999999;
  -webkit-box-shadow: 2px 2px 3px #999999;
  box-shadow: 2px 2px 3px #999999;
  background-color:#EFEFEF;
  display:none;
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
  left:160px;
  top:0;
}
.backlog .header .menu .item .icon {
  left:140px;
  top:5px;
}
.backlog .header .menu .item ul li{
  display: block;
  height:24px;
  overflow:hidden;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width:160px;
}
.backlog .header .menu .item:hover ul{
  display:block;
}
.backlog .header .menu .item ul li:hover{
  background-color:#DDDDDD;
}
.backlog .header .menu .item:hover ul li a {
  font-weight:normal; /* Work-around for when .item is hovered */
}
.backlog .header .menu .item ul li a{
  color:#000000;
  display:block;
  font-size:12px;
  height:100%;
  padding:6px;
  width:100%;
}
.backlog .header .menu .item ul li:hover a{
  text-decoration:none;
  font-weight:bold;
}

#product_backlog_container .closedbacklog .header .label,
#product_backlog_container .backlog .header .label{
  font-size:15px;
  font-weight:bold;
  height:28px;
  left:35px;
  line-height:28px;
  overflow:hidden;
  position:absolute;
  top:1px;
  width:450px;
}

#backlogs_container .closedbacklog .header .velocity,
#backlogs_container .backlog .header .velocity {
  font-size:12px;
  height:28px;
  line-height:31px;
  padding:0 3px 0 9px;
  position:absolute;
  right:9px;
  text-align:right;
  top:1px;
  width:28px;
}

#backlogs_container .closedbacklog .sprint,
#backlogs_container .backlog .sprint{
  background-color:transparent;
  cursor:pointer;
  display:block;
  height:30px;
  left:30px;
  position:absolute;
  top:0;
  width:560px;
}

#backlogs_container .backlog .sprint.saving,
#backlogs_container .closedbacklog .sprint.saving{
  background-image:url('images/ajax.gif');
  background-repeat:no-repeat;
  background-position:center;
}

#backlogs_container .closedbacklog .sprint.error,
#backlogs_container .backlog .sprint.error{
  background-image:url('images/error.png');
  background-repeat:no-repeat;
  background-position:center;
}


#backlogs_container .closedbacklog .sprint .id,
#backlogs_container .closedbacklog .sprint .description,
#backlogs_container .closedbacklog .sprint .status,
#backlogs_container .backlog .sprint .id,
#backlogs_container .backlog .sprint .description,
#backlogs_container .backlog .sprint .status{
  display:none;
}

#backlogs_container .closedbacklog .sprint .name,
#backlogs_container .backlog .sprint .name{
  font-size:15px;
  font-weight:bold;
  height:28px;
  left:5px;
  line-height:28px;
  overflow: hidden;
  position:absolute;
  top:1px;
  margin-right:2em;
  width:19em;
}

#backlogs_container .closedbacklog .sprint .sprint_start_date,
#backlogs_container .closedbacklog .sprint .effective_date,
#backlogs_container .backlog .sprint .sprint_start_date,
#backlogs_container .backlog .sprint .effective_date{
  font-size:12px;
  height:28px;
  line-height:31px;
  position:absolute;
  top:2px;
}

#backlogs_container .closedbacklog .sprint .sprint_start_date,
#backlogs_container .backlog .sprint .sprint_start_date{
  left:340px;
}

#backlogs_container .closedbacklog .sprint .effective_date,
#backlogs_container .backlog .sprint .effective_date{
  left:430px;
}

#backlogs_container .closedbacklog .stories,
#backlogs_container .backlog .stories{
  list-style:none;
/*  min-height:26px;*/
  margin:0;
  padding:0;
  position:relative;
/*  z-index:500;*/
}


#backlogs_container .stories .story{
  background-color:#FFFFF6;
  cursor:move;
/*  display:block;*/
  font-size:11px;
/*  height:26px;*/
  margin:0;
/*  overflow:hidden;*/
/*  position:relative;*/
  width:100%;
  border-bottom: #AAAAAA 1px solid;
}
#backlogs_container .stories .story.saving{
  background-image:url('images/ajax.gif');
  background-repeat:no-repeat;
  background-position:center;
}
#backlogs_container .stories .story.error{
  background-image:url('images/error.png');
  background-repeat:no-repeat;
  background-position:center;
}
/*
#backlogs_container .stories .story:nth-child(even){
  background-color:#DEDED5;
}*/
#backlogs_container .stories .story:hover {
  background-color:rgb(254,248,168);
}
#backlogs_container .stories .story .tracker_id{
  display:none;
}
#backlogs_container .stories .story .id{
  display:block;
/*  height:24px;*/
/*  left:10px;
  position:absolute;
  top:1px;*/
  position:relative;
  float:left;
  width:55px;
  margin-top:3px;
/*  white-space:nowrap;*/
}
#backlogs_container .stories .story .id .t * {
  background-color:#CCC;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top, #EEE, #CCC);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#CCCCCC);
  display:block;
  font-size:10px;
  height:14px;
/*  left:0px; */
  line-height:14px;
  overflow:hidden;
  padding-right:3px;
  margin-left:3px;
/*  position:absolute;*/
  text-align:right;
  text-decoration:none;
  position: relative;
/*  top:5px;*/
  vertical-align:middle;
  width:4em;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border: 1px solid #AAAAAA
}

#backlogs_container .stories .story .id .t a:hover {
  background-color:#BBB;
  background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
  background: -moz-linear-gradient(top, #DDD, #BBB);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#DDDDDD,EndColorStr=#BBBBBB);
}

#backlogs_container .stories .story .id .v {
  display:none;
}
#backlogs_container .stories .story .project {
  display:block;
  position:relative;
  float:left;
  width:55px;
  margin:1px 0 0 1px;
  padding-left:2px;
  padding-top:2px;
}
#backlogs_container .stories .story .project .t {
  overflow:hidden;
}
#backlogs_container .stories .story .project .v {
  display:none;
}
#backlogs_container .stories .story.editing .project,
#backlogs_container .stories .story.editing select.project_id.editor {
  display:none;
}
#backlogs_container .stories .story .subject {
  display:block;
/*  height:15px;
  left:70px; */
  overflow:hidden;
  margin-right:2em;
  padding:5px 2px 4px 10px;
/*  position:absolute;
  top:1px;*/
  float:left;
  width:30em;
  margin-right:2em;
  white-space:nowrap;
}
#backlogs_container .stories .story.closed .subject{
  text-decoration:line-through;
}
#backlogs_container .stories .story.too_long .subject{
  width:333px;
}
#backlogs_container .stories .story .elipses{
  display:none;
}
#backlogs_container .stories .story.too_long .elipses{
/*  display:block;*/
/*  left:409px;
  position:absolute;
  top:4px;*/
}
#backlogs_container .stories .story .status_id.editable {
/*  display:block;*/
/*  height:15px;
  left:455px;*/
/*  padding:5px 2px 4px 9px;*/
/*  position:absolute;
  top:1px;*/
  float:left;
  width:68px;
}
#backlogs_container .stories .story .status_id .v {
  display:none;
}

#backlogs_container .stories .story .status_id .t {
  padding-top:5px;
}

#backlogs_container .stories .story .story_points {
/*  display:block;*/
/*  height:15px;
  right:10px;
  overflow:hidden;*/
  padding:5px 5px 4px 5px;
/*  position:absolute;*/
  text-align:right;
/*  top:1px;*/
  float: right;
  width:3em;
}
#backlogs_container .stories .story .story_points .v {
  display:none;
}
#backlogs_container .stories .story .fixed_version_id,
#backlogs_container .stories .story .higher_item_id,
#backlogs_container .stories .story .story_project,
#backlogs_container .stories .story .user_status {
  display:none;
}

#backlogs_container .stories .story .clearfix {
    zoom:1;
    clear:both;
}

/* dialog */

.ui-dialog .ui-dialog-titlebar-close{
  display:none;
}
.ui-dialog .ui-dialog-title{
  float:left;
  margin-right:0;
}
.ui-dialog.ui-widget-content{
  -moz-box-shadow: 2px 2px 5px #777777;
  -webkit-box-shadow: 2px 2px 5px #777777;
  box-shadow: 2px 2px 5px #777777;
  border:none;
}
.ui-dialog .ui-dialog-buttonpane.ui-widget-content{
  border:none;
}

.ui-dialog label{
  display:block;
  font-size:11px;
  text-transform:capitalize;
  width:100%;
}
.ui-dialog  .editor{
  font-size:12px;
  margin-bottom:10px;
  width:100%;
}
#sprint_editor .description{
  height:65px;
}
/* In-place Sprint Editor */
#backlogs_container .sprint.editing .editors{
  display:block;
  position:absolute;
  top:0;
}

#backlogs_container .sprint.editing .editor{
  display:block;
  font-family:Verdana, Arial, sans-serif;
  position:absolute;
}
#backlogs_container .sprint.editing label,
#backlogs_container .sprint.editing .id.editor{
  display:none;
}
#backlogs_container .backlog .sprint.editing .name.editor{
  display:block;
  height:21px;
  left:1px;
  line-height:15px;
  margin:0;
  top:2px;
  width:19em;
  overflow:hidden;
  float: left;
}
#backlogs_container .backlog .sprint.editing .sprint_start_date.editor{
  display:block;
  height:23px;
  left:338px;
  line-height:27px;
  margin:0;
  padding:0;
  top:2px;
  width:75px;
}
#backlogs_container .backlog .sprint.editing .effective_date.editor{
  display:block;
  height:23px;
  left:428px;
  line-height:27px;
  margin:0;
  padding:0;
  top:2px;
  width:75px;
}
#backlogs_container .backlog .sprint.editing .description.editor{
  display:none;
}
/* In-place Story Editor */
#backlogs_container .stories .story.editing .id{
  display:none;
}

#backlogs_container .stories .story.editing .story_field {
    display: none;
}

#backlogs_container .stories .story.editing .editors{
  display:block;
}
#backlogs_container .stories .story.editing .editors label{
  display:none;
}
#backlogs_container .stories .story.editing .editor{
  font-family:Verdana, Arial, sans-serif;
}
#backlogs_container .stories .story.editing .tracker_id.editor{
  display:block;
  margin:0;
  width:55px;
  float: left;
}
#backlogs_container .stories .story.editing .subject.editor{
  display:block;
  font-size: 11px;
  margin:0;
  float: left;
}
#backlogs_container .stories .story.editing .status_id.editor{
  display:block;
  margin:0;
  width:84px;
  float: left;

}
#backlogs_container .stories .story.editing select.story_points.editor {
  display:block;
  left:540px;
  margin:0;
  padding: 0px;
  height: inherit;
  top: 4px;
  width: 40px;
  overflow: visible;
}
#backlogs_container .stories .story.editing input.story_points.editor {
  display:block;
  height:10px;
  margin:0;
  float: right;
}

#backlogs_container .stories .editing .story_points {
    display: none;
} 


#helpers{
  display:none;
}
.debug .story .id,
.debug .story .subject,
.debug .story .status_id,
.debug .story .story_points,
.debug .sprint .name,
.debug .sprint .sprint_start_date,
.debug .sprint .effective_date,
.debug .backlog .header .actions,
.debug .backlog .menu,
.debug .backlog .velocity,
.debug #product_backlog_container .backlog .header .label,
.debug #new_story{
  background-color:red;
}

#closed_sprint_backlogs_container{
  width:590px;
}

#backlogs_container .stories .story .category_id .v {
  display:none;
}
#backlogs_container .stories .story.editing .category_id.editor{
  display:block;
  left:456px;
  margin:0;
  top:4px;
  width:68px;
}
/* Naive but light handling of colors by user stories tracker */

#backlogs_container .stories .tracker0{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
  background: -moz-linear-gradient(top, #EEE, #FFF);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#FFFFFF);
  background-color:#FFFFFF;
}
#backlogs_container .stories .tracker1{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#EDD5EE));
  background: -moz-linear-gradient(top, #EEE, #EDD5EE);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#EDD5EE);
  background-color:#EDD5EE;
}
#backlogs_container .stories .tracker2{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#E0E3FA));
  background: -moz-linear-gradient(top, #EEE, #E0E3FA);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#E0E3FA);
  background-color:#E0E3FA;
}
#backlogs_container .stories .tracker3{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#EAD6C8));
  background: -moz-linear-gradient(top, #EEE, #EAD6C8);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#EAD6C8);
  background-color:#EAD6C8;
}
#backlogs_container .stories .tracker4{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#E7FAE0));
  background: -moz-linear-gradient(top, #EEE, #E7FAE0);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#E7FAE0);
  background-color:#E7FAE0;
}
#backlogs_container .stories .tracker5{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DAFEF8));
  background: -moz-linear-gradient(top, #EEE, #DAFEF8);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#DAFEF8);
  background-color:#DAFEF8;
}
#backlogs_container .stories .tracker6{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#EFF0BF));
  background: -moz-linear-gradient(top, #EEE, #EFF0BF);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#EFF0BF);
  background-color:#EFF0BF;
}
#backlogs_container .stories .tracker7{
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FED0D0));
  background: -moz-linear-gradient(top, #EEE, #FED0D0);
  filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=1,GradientType=0,StartColorStr=#EEEEEE,EndColorStr=#FED0D0);
  background-color:#FED0D0;
}

